body{
  font-family:'Muli', Helvetica, sans-serif;
  background-color: #445566;
}
h1{
  text-align: center;
  font-family: Pacifico;
  color: #BCCCDC;
}
form{
  text-align: center;
}
button{
  color: #334333;
  background-color: #ABDCAC;
  border-color: #ADFEAD;
}
input{
  background-color: #BBCCDD;
  border-color: #DEEEFE;
}
footer{
  text-align: center;
  background-color: #334454;
  color: #BCCCDC;
}
